
<%- include("partials/header"); -%>
<br> <br> <hr>

    <h1>Contact</h1>
    <p style="font-size: 20px;"> <%= contactContent %> </p>
    <br>

    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-evenly;">

        <div class="btn-box" > <a style="text-decoration: none; color: gold; font-size: 35px; font-family: monospace;" href="https://github.com/varunsahi62" target="_blank">Github</a> </div>
        <div class="btn-box" style="width: 500px;"> <p style="text-decoration: none; color: gold; font-size: 35px; font-family: monospace;" href="">varunsahi62@gmail.com</p> </div>

    </div>

<%- include("partials/footer"); -%>
